*{
    color: #EDC7B7;
color: rgb(237, 199, 183);
    color: #EEE2DC;
color: rgb(238, 226, 220);
    color: #BAB2B5;
color: rgb(186, 178, 181);
    color: #123C69;
color: rgb(18, 60, 105);
    color: #AC3B61;
color: rgb(172, 59, 97);
}