/* 

<i class="far fa-calendar"></i>
<i class="fas fa-bullhorn"></i>
<i class="far fa-bell"></i>
<i class="fas fa-angle-double-down"></i>
<i class="fas fa-music"></i>
<i class="fas fa-book-open"></i> 
<i class="fas fa-angle-right"></i> 

 */

/* 
 <i class="fab fa-instagram-square"></i>
 <i class="fab fa-facebook-square"></i>
 <i class="fab fa-twitter-square"></i>
 <i class="fab fa-google-plus-square"></i>
 <i class="fas fa-map-marker-alt"></i>
 <i class="fas fa-envelope"></i>
 <i class="fas fa-phone"></i>
 */

 /* <i class="fas fa-bars"></i> */


 /* big tablet from 1023px to 1300px */
@media only screen and (max-width: 1300px ){
    html{
        font-size: 15px;
    }
    .logo{
        width: 100px;
    }
    .heading-main-nav{
        transform: translate(-45%,-50%);
    }
    header .btn{
        margin: 20px;
    }
    form{
        margin-left: 25%;
    }
}


/* small tablet to big tablet from 768px to 1023px */
@media only screen and (max-width: 1023px ){
    html{
        font-size: 14px;
    }
    .logo{
        width: 65px;
        margin-right: 5px;
        margin-left: 15px;
    }
    .main-nav{
        margin-right: 0px;
    }
    .main-nav li{
        margin-right: 10px;
    }
    .heading-main-nav{
        transform: translate(-30%, -80%);
    }
    header .btn{
        margin: 10px;
        width: 200px;
        font-size: 120%;
    }
    .products-section .btn{
        width: 70%;
        margin-top: 20px;
        margin-left: 15%;
    }
    .product-box{
        width: 80%;
    }
    .product-box ul li{
        margin-left: 10px;
    }
    .social-icon li{
        font-size: 300%;
        padding: 5px;
    }
    .contact-section .small-icon{
        padding-right: 2px;
    }
}


/* small phone to small tablet from 480px to 768px */
@media only screen and (max-width: 765px ){
    .logo{
        margin-left: 40%;
        width: 150px;
    }
    .main-nav{
        margin-top: 20px;
        margin-right: 50px;
    }
    .main-nav li{
        padding: 2px;
    }
    .heading-main-nav{
        transform: translate(-20%,-40%);
    }
    .heading-main-nav .btn{
        width: 10%;
        font-size: 120%;
    }
    .product-price{
        font-size: 180%;
    }
    .library-img{
        width: 90%;
    }
    figcaption{
        font-size: 90%;
    }
    .social-icon li{
        font-size: 300%;
        padding: 8px;
    }
    .contact-section .btn{
        width: 70%;
        margin-top: 30px;
    }
    .products-section .btn{
        margin-top: 5px;
    }
    .picture-title{
        transform: translate(-50%,-50%);
    }

}


/* small phone from 0 to 480px */
@media only screen and (max-width: 670px ){
    .products-section .btn{
        font-size: 100%;
    }
    h3{
        font-size: 90%;
    }
    .product-box ul li{
        font-size: 100%;
    }
    blockquote{
        width: 75%;
    }
    .picture-title{
        transform: translate(-50%,5%);
    }
    .main-nav{
        display: none;
    }
    .logo{
        margin-left:20% ;
    }
    .sticky .logo{
        margin-bottom: 0px;
        margin-top: 10px;
        width: 150px;
    }
    .sticky .mobile-nav-icon{
        top: 50px;
    }

    .mobile-nav-icon{
        visibility: visible;
    }
}

@media only screen and (max-width: 480px ){
    .product-box{
        margin: 20px;
    }
    .heading-main-nav{
        transform: translate(-18%,-40%);
    }
    .heading-main-nav h1{
        margin-left: 40px;
    }
    .about-section img{
        margin-bottom: 20px;
    }

    .product-box{
        height: 220%;
    }
    .testimonials-section h2{
        margin-bottom: 60px;
    }
    blockquote{
        margin-bottom: 20px;
        line-height: 120%;
    }
    cite img{
        width: 12%;
    }
    .picture-about img{
        width: 80%;
        margin-left: 40px;
    }
    blockquote{
        width: 100%;
    }
    form{
        margin-left: 5%;
        margin-top: 20px;
    }
    .information li{
        font-size: 150%;
        padding-bottom: 20px;
    }

    .information li i,
    .information li a{
        padding-bottom: 10px;
    }

    .contact-section .small-icon{
        display: block;
        font-size: 120%;
    }
    .information{
        text-align: center;
    }

    label{
        margin-left: 80px;
        font-size: 110%;
        
    }
    input, textarea{
        margin-left: 20px;
    }

    .social-icon {
        margin-left: 15%;
    }
    .contact-section .btn{
        margin-left: 12%;
    }
    form .col.span-2-of-3{
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 420px ){
    .heading-main-nav .btn{
        display: block;
        width: 20%;
        margin-left: 5%;
    }

}



